---
layout: page
title: How OmniBuilds Works
permalink: /
---


<section id="search-results" style="display: none;"> </section>
{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
      {{#is_post}}
      <ul>
        {{#tags}}<li>{{.}} </li>{{/tags}}
      </ul>
      {{/is_post}}
    </article>
  {{/entries}}
</script>
{% endraw %}



<div id="categories">
  {% assign sorted_categories = site.categories | sort: site.categories[category_name] %}
  {% for category in sorted_categories %}
    <div class="category-group">
      {% assign sorted_articles = category[1] | sort: 'weight' %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <h3 class="category-head">{{ category_name }}</h3>
      <a name="{{ category_name | slugize }}"></a>
      {% for article in sorted_articles %}
        <article class="post">
          <h4><a href="{{ site.url }}{{ site.baseurl }}{{  article.url }}">{{  article.title }}</a></h4>
        </article>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<!-- Scripts for Search Bar -->
<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl  : '/js/search.json',          // url for the .json file containing search index data
      results   : '#search-results',          // selector for containing search results element
      template  : '#search-results-template', // selector for Mustache.js template
      titleMsg  : '<h1>Search results<h1>',   // message attached in front of results (can be empty)
      emptyMsg  : '<p>Nothing found.</p>'     // shown message if search returns no results
    });
  });
</script>
