---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Exo:300');


/* Variables */

$primary-color: rgb(85, 85, 85);
$primary-font: 'Exo', sans-serif;


/* Header */

.site-title {
  font: 30px $primary-font;
  color: $primary-color;
  line-height: 54px;

  &:hover {
    text-decoration: none;
  }
}

.site-nav {

  &:visited {
    color: $primary-color
  }

  &:hover {
    color: $primary-color
  }
}


/* Footer */

.footer-heading {
  font-size: 1.25em;
  color: rgb(0, 0, 0);
}

.footer-col-3 {
  text-align: right;
}
