---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-navigation">
    <a href="{{ site.url }}">{{ site.title }}</a> &nbsp; / &nbsp;
    <a href="{{ page.permalink }}">{{ page.title | escape }}</a>
  </div>

  <div id="categories">
    {% assign weighted_categories = site.category_weights %}
    {% assign categories = site.categories %}
    {% assign page_title = page.title %}

    {% for category in categories %}
      <div class="category-group">
        {% assign sorted_articles = category[1] | sort: 'weight' %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% if category_name != page_title %}
          {% continue %}
        {% else %}
          <div id="#{{ category_name | slugify }}"></div>
          <h4 class="category-head">{{ category_name }}</h4>
          <a name="{{ category_name | slugify }}"></a>
          <hr>
          {% for article in sorted_articles %}
            <article class="post">
              {% octicon chevron-right %} <a href="{{ site.url }}{{ site.baseurl }}{{ article.url }}">{{  article.title }}</a>
            </article>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  
</article>
